{% extends "base.html" %}

{% block content %}
<h1>Promotions</h1>
<a href="{{ url_for('promotions.add_promotion') }}">Add New Promotion</a>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Promo Code</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Active</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for promotion in promotions %}
        <tr>
            <td>{{ promotion[0] }}</td>
            <td>{{ promotion[1] }}</td>
            <td>{{ promotion[2] }}</td>
            <td>{{ promotion[3] }}</td>
            <td>{{ promotion[4] }}</td>
            <td>{{ promotion[5] }}</td>
            <td>{{ 'Yes' if promotion[6] else 'No' }}</td>
            <td>
                <a href="{{ url_for('promotions.edit_promotion', promotion_id=promotion[0]) }}">Edit</a>
                <a href="{{ url_for('promotions.delete_promotion', promotion_id=promotion[0]) }}" onclick="return confirm('Are you sure?')">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}